attrs==21.4.0
aws-lambda-powertools==1.26.3
aws-xray-sdk==2.10.0
boto3==1.24.24
botocore==1.27.24
fastjsonschema==2.15.3
importlib-resources==5.8.0
jmespath==1.0.1
jsonschema==4.6.1
openapi-schema-validator==0.2.3
openapi-spec-validator==0.4.0
pyrsistent==0.18.1
python-dateutil==2.8.2
PyYAML==6.0
s3transfer==0.6.0
six==1.16.0
urllib3==1.26.9
wrapt==1.14.1
zipp==3.8.0
